body {
    height: 100vh;
   }
   
   
   @font-face {
       font-family: "AdobeDia";
       src: url('../font/AdobeDia.ttf');
   }
   
   p {
       color: greenyellow;
       font-size: 2em;
       font-family: "AdobeDia";
   }
   
   
   .container {
       background-image: url(../img/background.jpg);
       width: 100%;
       height: 100%;
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       display: flex;
       justify-content: center;
       align-items: center;
   }
   
   .menu {
   
   }
   
   .menu a {
       color: greenyellow;
       padding: 1rem 3rem;
       display: block;
   }
   
   .menu a:hover {
       color: #101010;
   }
   
   .menu-list {
   background-color: #101010;
   color:greenyellow;
   list-style: none;
   margin: 1rem;
   font-family: 'AdobeDia';
   text-align: center;
   font-size: 1.6em;
   cursor: pointer;
   }
   
   .menu li:hover {
       background-color: greenyellow;
       color: #101010;
   }
   
   li:hover a {
       color: inherit;
   }
   
   
   .is-hidden {
       display: none;
   }
   
   /* NAV */
   .nav-button {
       background-color: #101010;
       color:greenyellow;
       font-family: 'AdobeDia';
       text-align: center;
       font-size: 1.6em;
       cursor: pointer;
       margin-top:2rem;
   }
   
   /* FORM */
   form {
       flex-direction: column;
   }
   
   label {
       display: block;
       color: greenyellow;
       font-size: 2em;
       font-family: "AdobeDia";
   
   }
   
   input
   {   
       color:green;
       background-color: black;
       height: 28px;
       padding-left: 10px;
       text-decoration: none;
       border: 1px solid green;
   }
   
   /* FORM */
   article {
       text-align: center;
   }
   
   button {
       background-color: #101010;
       color:greenyellow;
       font-family: 'AdobeDia';
       text-align: center;
       font-size: 1.5em;
       cursor: pointer;
       margin: 0.7rem auto;
       display: block;
   }

   .inactive {
       color:rgb(219, 255, 166);
       background-color: #2a2a2a;
   }
   
   /* CARDS */
   
   .deckContainer {
       display: flex;
       flex-wrap: wrap;
       flex-direction: row;
       align-items: center;
       justify-content: center;
   }
   
   
   .card-deck {
       height: 300px;
       width: 200px;
       background-size: 100%;
       margin: auto;
       margin:2rem;
       background-image: url(../img/Deck.png);
   }
   
   
   .card-monster {
       z-index: 1;
       max-height: -webkit-fill-available;
   }
   
   .card-booster {
       z-index: 1;
       max-height: -webkit-fill-available;
   }

   /* NB : faire une fonction js qui refresh max-height: -webkit-fill-available si l'utilisateur modifie la taille de la fenettre*/
   .cardElementsContainer {
       z-index: 2;
       position: absolute;
       max-height: -webkit-fill-available;
       max-width: -webkit-fill-available;
   }
   
   .card-picture {
       margin-top: 10%;
       width: 80%;
       background-size: 100%;
       margin-left: 10%;
   }

   .card-name, .card-description {
       color: black;
       font-family: monospace;
       font-size: 0.5vw;
   }
   .card-attack, .card-defense, .card-hitpoint, .card-value {
       font-size: 1.7vw;
       font-weight: bold;
       color: black;
       font-family: monospace;
       background-color: white;
       border-radius: 50%;
       border: 1px solid;
       display: inline;
       padding: 0.6vw;
   }

   .card-name {
       margin-top:9%;
       margin-left:5%;
    }

    .card-description {
        margin-top:22%;
        margin-left:10%;
     }

     .card-attack {
        margin-top:3%;
        margin-left:2%;
     }

     .card-defense {
        margin-top:3%;
        margin-left:2%;
     }

     .card-hitpoint {
        margin-top:3%;
        margin-left:2%;
     }

     .card-value {
        margin-top:3%;
        margin-left:2%;
     }

   
   /* BOARD */
   
   .board-game {

   }
        /* SIDE AREA */
        .sideArea {
            width: 20%;
            height: 100%;
            background-color: hotpink;
        }

        .infosField {
            background-color: black;
            color: greenyellow;
            height: 20%;
            width: 80%;
            margin: auto;
            margin-top: 5%;
        }
   
        /* PLAYER AREA */
        .playArea {
            width: 80%;
            height: 100%;
            display: flex;
            flex-wrap: wrap ;
        }
        
        .cpterCards {
            width: 100%;
            height: 33%;
            padding:2%;
            display: flex;
            flex-wrap: wrap ;
        }
        
        .playerCards {
            width: 100%;
            height: 33%;
            background-color: rgb(46, 46, 46);
            display: -webkit-inline-box;
            align-items: flex-end;
            overflow-x: scroll;
            overflow-y: hidden;
            overflow-x: hidden;
            white-space: nowrap;
        }
        
        .drop-area {
            width: 100%;
            height: 33%;
            padding:2%;
            display: -webkit-inline-box;
            align-items: flex-end;
            overflow-x: scroll;
            overflow-y: hidden;
            overflow-x: hidden;
            white-space: nowrap;
        }

        .drop-area p {
            font-size: 0.9vw;
        }
        
        .cardComponent {
            display: grid;
            position: relative;
            background: none;
            width: fit-content; /* A SUPPRIMER SI BUG */
        }
        
        .imgContainer {
            width: 80%;
        }

   /* SAVE WEBKIT FIX IMG
   
   .card-monster {
    width: 13rem; 
    min-height: -webkit-fill-available;
    background-size: 100%;
    background: url(../img/Monster.png) no-repeat;
    background-size: contain;
    display: inline-block;
} */

    /* FIGHT AREA */
    .fightArea {
        position: absolute;
        width: 60%;
        height: 60%;
        margin: auto;
        z-index: 4;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .cogwheel {
        color: white;
        font-size: 10em;
        text-shadow: 6em 6em 6em #000000;
        animation: rotation 4s infinite linear;
        position: absolute;
        left: 50%;
        top: 25%;
    }

    /* .shadow {
        -webkit-box-shadow: 10px 10px 23px -4px rgba(0,0,0,0.43);
        -moz-box-shadow: 10px 10px 23px -4px rgba(0,0,0,0.43);
        box-shadow: 10px 10px 23px -4px rgba(0,0,0,0.43);
    } */

 /* ANIMATIONS */

.blink_me {
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

.shake {
    animation: shake 1.2s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-4px, 0, -10px);
    }
    
    20%, 80% {
      transform: translate3d(5px, 0, 15px);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-8px, 0, -15px);
    }
  
    40%, 60% {
      transform: translate3d(8px, 0, 15px);
    }
  }

 
  @keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
  }

/* 
  .moveCenterFromLeft{
    animation: moveCenterFromLeft linear 0.5s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
  }
  
  @keyframes moveCenterFromLeft{
    0% {
        transform:  translate(0%,0%)  ;
      }
      100% {
        transform:  translate(30%,0%)  ;
      }
    }

.moveCenterFromRight{
    animation: moveCenterFromRight linear 0.5s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    }
    
    @keyframes moveCenterFromRight{
    0% {
        transform:  translate(0%,0%)  ;
        }
        100% {
        transform:  translate(-30%,0%)  ;
        }
    } */
