body {
 height: 100vh;
}


@font-face {
    font-family: "AdobeDia";
    src: url('../font/AdobeDia.ttf');
}

p {
    color: greenyellow;
    font-size: 2em;
    font-family: "AdobeDia";
}


.background-home {
    background-image: url(../img/background.jpg);
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {

}

.menu a {
    color: greenyellow;
    padding: 1rem 3rem;
    display: block;
}

.menu a:hover {
    color: #101010;
}

.menu-list {
background-color: #101010;
color:greenyellow;
list-style: none;
margin: 1rem;
font-family: 'AdobeDia';
text-align: center;
font-size: 1.6em;
cursor: pointer;
}

.menu li:hover {
    background-color: greenyellow;
    color: #101010;
}

li:hover a {
    color: inherit;
}


.is-hidden {
    display: none;
}

/* NAV */
.nav-button {
    background-color: #101010;
    color:greenyellow;
    font-family: 'AdobeDia';
    text-align: center;
    font-size: 1.6em;
    cursor: pointer;
    margin-top:2rem;
}

/* FORM */
form {
    flex-direction: column;
}

label {
    display: block;
    color: greenyellow;
    font-size: 2em;
    font-family: "AdobeDia";

}

input
{   
    color:green;
    background-color: black;
    height: 28px;
    padding-left: 10px;
    text-decoration: none;
    border: 1px solid green;
}

/* FORM */
article {
    text-align: center;
}

button {
    background-color: #101010;
    color:greenyellow;
    font-family: 'AdobeDia';
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
    margin: 0.7rem auto;
    display: block;
}

/* CARDS */

.deckContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.card {
    height: 300px;
    width: 200px;
    background-size: 100%;
    margin: auto;
    margin:2rem;
}

.deck {
    background-image: url(../img/Deck.png);
}

.monster {
    background-image: url(../img/Monster.png);
}

.booster {
    background-image: url(../img/Booster.png);
}

.card-picture {
    margin-top: 45px;
    position: relative;
    width:146px;
    height: 90px;
    background-size: 100%;
}