body {
    height: 100vh;
   }
   
   
   @font-face {
       font-family: "AdobeDia";
       src: url('../font/AdobeDia.ttf');
   }

   @font-face {
    font-family: "SierraMadre-JVYM";
    src: url('../font/SierraMadre-JVYM.ttf');
}
   
   p {
       color: #ffffff;
       font-size: 1.3em;
       font-family: 'Staatliches';
   }

   img {
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
   }
   
   
   .container {
        /* background-image: url(../img/background2.jpg); */
        background-color: #3e7688;
       width: 100%;
       height: 100%;
       background-position: center;
       background-repeat: no-repeat;
       background-size: contain;
   }

   .flex {
       display: flex;
       justify-content: center;
       align-items: center;
   }

   .logo {
       margin: auto;
       display: block;
       padding: 2rem 0;
       height: 40%;
   }
   
   .menu {
    margin: auto;
    width: 25%;
    display: block;
   }
   
   .menu a {
        color:#FDFF2F;
       padding: 1rem 3rem;
       display: block;
   }
   
   .menu a:hover {
       color: #223f48;
   }
   
   .menu-list {
   background-color: #223f48;

   list-style: none;
   margin: 1rem;
   font-family: 'AdobeDia';
   text-align: center;
   font-size: 1.6em;
   cursor: pointer;
   }
   
   .menu li:hover {
       background-color: #FDFF2F;
       color: #101010;
   }
   
   li:hover a {
       color: inherit;
   }
   
   
   .is-hidden {
       display: none;
   }
   
   /* NAV */
   .nav-button {
       background-color: #101010;
       color:greenyellow;
       font-family: 'AdobeDia';
       text-align: center;
       font-size: 1.6em;
       cursor: pointer;
       margin-top:2rem;
   }
   
   /* FORM */
   .form {
    margin: auto;
    width: 40%;
    text-align: center;

   }

   .form-label-group {
       margin-top: 1rem;
   }

   .form-control {
    width: 50%;
}
   
   label {
       display: block;
       color: #fdff2f;
       font-size: 1.3em;
       font-family: 'Staatliches';
   
   }
   
   input
   {   
        color: #4c4c4c;
        background-color: white;
        height: 1.8rem;
        padding-left: 10px;
        text-decoration: none;
        border: 2px solid #e0e0e0;
        width: 64%;
   }

   input[type=checkbox] {
    width: 5%;
    height: 18px;
    margin-top: 1rem;
    }
   
   /* FORM */
   article {
       text-align: center;
   }
   
   button {
       background-color: #223f48;
       color:#FDFF2F;
       font-family: 'Staatliches';
       text-align: center;
       font-size: 1.2em;
       cursor: pointer;
       margin: 0.7rem auto;
       display: block;
   }

   button:hover {
    background-color: #0c191d;
    color:#FDFF2F;
   }

   .inactive {
       color:rgb(219, 255, 166);
       background-color: #2a2a2a;
   }
   
   /* CARDS */

   /* cards container for deck management */
    .deckManager {
        height: 30%;
        display: -webkit-inline-box;
        align-items: flex-end;
        overflow-x: scroll;
        overflow-y: hidden;
        overflow-x: hidden;
        white-space: nowrap;
    }
   
   .deck-container {
        text-align: center;
   }
   
   .card-deck {
       height: 300px;
       width: 200px;
       background-size: 100%;
       margin: auto;
       background-image: url(../img/Deck.png);
   }

   .card-picture-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}
    .card-background {
        z-index: 1;
        max-height: -webkit-fill-available;
    }
   /* .card-background, .monster {
    background-image: url(../img/Booster.png);
    }

    .card-background, .booster {
        background-image: url(../img/Monster.png);
    } */

   
   .card-picture {
    width: 90%;
   }
   
   /* .card-picture {
    z-index: 1;
    max-height: -webkit-fill-available;
} */

   .card-name {
       color: #373737;
       font-family: 'Staatliches', cursive;
       font-size: 0.8vw;
   }

   .card-value {
        position: absolute;
        font-size: 1.2em;
        font-weight: bold;
        color: #3e7688;
        font-family: 'SierraMadre-JVYM';
        display: inline;
        /* padding: 0.5vw 0.8vw; */
        z-index: inherit;
   }

   .attack {
    left:8%;
    top:87%;
    color: #9f5252;
    }

    .defense {
        left:83%;
        top:87%;
        color:#52869f;

    }

    .hit_point {
        margin-top:5%;
        margin-left:13%;
        left: -2%;
        color:#535f37;
    }

    .boost {
        margin-top:6%;
        margin-left:-37%;
    }

   .card-name {
       position: absolute;
       margin-top:6%;
       padding: 2%;
       width: 76%;
       font-size: min(max(1rem, 1vw), 14px);
       left: 26%;
       z-index: inherit;
       color: white;
    }



   
   /* BOARD */
   
   .board-game {

   }

        /* SIDE AND DROP */
        .side-and-drop {
        width: 100%;
        height: 65%;
        display: flex;
        }

        /* SIDE AREA */
        .sideArea {
            background-image: url(../img/board/bckgrd-Infos.jpg);
            background-repeat: repeat;
            width: 20%;
            max-width: 250px;
            min-width: 250px;
            height: 100%;
            position: relative;
        }

        .black-filter {
            background-color: rgba(0, 0, 0, 0.7);
            height: 100%;
            width: 100%;
            position: fixed;
            z-index: 10;
        }

        .exemple-card {
            position: fixed;
            left: 40%;
            top: 18%;
            z-index: 11;
        }

        .close-button {
            position: fixed;
            left: 58%;
            top: 12%;
            z-index: 11;
        }

        .border-left-side {
            background-image: url(../img/board/border-left-infos.jpg);
            background-repeat: repeat-y;
            width: 6px;
        }

        .infosField {
            background-color: white;
            color: rgb(49, 49, 49);
            width: 83%;
            border-radius: 10px;
            bottom: 23%;
            position: absolute;
            margin-left: 9%;
            padding: 0.8rem;
            font-family: 'Staatliches';
            text-align: center;
        }

        .infosField-bubble {
            background-image: url(../img/board/buble-speak.png);
            height: 10%;
            background-repeat: no-repeat;
            bottom: 14%;
            position: absolute;
            width: 20%;
            left: 41%;
        }

        .vault-boy {
            background-image: url(../img/board/vault-boy.png);
            width: 50%;
            height: 20%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
            bottom: 0;
        }

        /* BOARD AREA */

        .boardArea {
            background-image: url(../img/board/bckgrd-board.jpg);   
            width: inherit;
            height: 100%;
            display: flex;
            flex-wrap: wrap ;
            display: inline-block;
        }
   
        /* .playArea {
            width: 80%;
            height: 65%;
            display: flex;
            flex-wrap: wrap ;
            display: inline-block;
        } */
        
        .cpterCards {
            width: 100%;
            height: 50%;
            padding:1%;
            display: flex;
            flex-wrap: wrap ;
        }

        
        .drop-area {
            width: 100%;
            height: 50%;
            padding:1%;
            display: -webkit-inline-box;
            align-items: flex-end;
            overflow-x: scroll;
            overflow-y: hidden;
            overflow-x: hidden;
            white-space: nowrap;
        }

        .show-message {
            background-color: rgba(255, 255, 255, 0.4);
        }

        .show-message p {
            color: #616161;
            text-shadow: 2px 2px 2px #CEC1B4;
            font-family: 'Staatliches';
            margin: auto;
        }


        /* PLAYER AREA */

        .playerArea {
            background-image: url(../img/board/bckgrd-player-cards.jpg);
            width: 100%;
            height: 35%;
        }

        .border-player-area {
            background-image: url(../img/board/border-player-cards.jpg);
            background-repeat: repeat-x;
            width: 100%;
            height: 5%;
        }

        .playerCards {
            height: 85%;
            display: -webkit-inline-box;
            align-items: flex-end;
            overflow-x: scroll;
            overflow-y: hidden;
            overflow-x: hidden;
            white-space: nowrap;
        }
        
        .cardComponent {
            display: flex;
            position: relative;
            background: none;
            width: fit-content; /* A SUPPRIMER SI BUG */
            margin: 0 0.2rem;
            z-index: 2;
            justify-content: center;
        }


   /* SAVE WEBKIT FIX IMG
   
   .card-monster {
    width: 13rem; 
    min-height: -webkit-fill-available;
    background-size: 100%;
    background: url(../img/Monster.png) no-repeat;
    background-size: contain;
    display: inline-block;
} */

    /* ANIMATIONS */
    .animationContainer {
        width: 100%;
        height: 100%;
        margin: auto;
        z-index: 4;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .cogwheel {
        color: white;
        font-size: 10em;
        text-shadow: 6em 6em 6em #000000;
        animation: rotation 4s infinite linear;
        position: absolute;
        left: 50%;
        top: 25%;
    }

    .textArea {
        font-size: 3em;
        text-shadow: 2px 2px 2px #CEC1B4;
        position: absolute;
        left: 50%;
        top: 10%;
        color:rgb(0, 0, 0);
        font-family: 'AdobeDia';

    }

    /* .shadow {
        -webkit-box-shadow: 10px 10px 23px -4px rgba(0,0,0,0.43);
        -moz-box-shadow: 10px 10px 23px -4px rgba(0,0,0,0.43);
        box-shadow: 10px 10px 23px -4px rgba(0,0,0,0.43);
    } */

 /* ANIMATIONS */

.facticePosition, .moveCpterCard {
    animation: moveCpterCard 1s linear;
}
  @keyframes moveCpterCard {
    from {
        top: var(--topStart);
        left: var(--leftStart);
      }
      to {
        top: var(--topEnd);
        left: var(--leftEnd);
      }
  }

.blink_me {
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

  .blink_hit-point {
    color: red;
    animation: blinker-hit-point 0.5s linear infinite;
  }
  
  @keyframes blinker-hit-point {
    50% {

      opacity: 0;
    }
  }

.shake {
    animation: shake 1.2s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-4px, 0, -10px);
    }
    
    20%, 80% {
      transform: translate3d(5px, 0, 15px);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-8px, 0, -15px);
    }
  
    40%, 60% {
      transform: translate3d(8px, 0, 15px);
    }
  }

 
  @keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
  }

/* 
  .moveCenterFromLeft{
    animation: moveCenterFromLeft linear 0.5s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
  }
  
  @keyframes moveCenterFromLeft{
    0% {
        transform:  translate(0%,0%)  ;
      }
      100% {
        transform:  translate(30%,0%)  ;
      }
    }

.moveCenterFromRight{
    animation: moveCenterFromRight linear 0.5s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    }
    
    @keyframes moveCenterFromRight{
    0% {
        transform:  translate(0%,0%)  ;
        }
        100% {
        transform:  translate(-30%,0%)  ;
        }
    } */
