<%- include('partials/header', {documentTitle:"Login - Tragic the gardening"}); %> 


<% if (locals.error !== undefined) { %>
    <div class="error"><%= error %></div>
<% }%>


<form action="" method="POST" class="form-signup">

    <div class="form-label-group">

        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Votre courriel" value=<%= locals.fields ? locals.fields.email : "" %>>
        
        <label for="email">Votre courriel</label>
    </div>

    <div class="form-label-group">
        <input type="password" class="form-control" id="password" name="password"
            placeholder="Votre mot de passe">
        <label for="password">Votre mot de passe</label>
    </div>

    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" name="remember" value="remember-me"> Se souvenir de moi
        </label>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Se connecter</button>

</form>

<%- include('partials/footer'); %>