<%- include('partials/header', {documentTitle:"Game Zone - Tragic the gardening"}); %> 

<h1>CREATE NEW DECK</h1>
  
<form action="/crud/deck" method="post">
<input type="text" name="user_id" value="3">
<input type="text" name="title" value="Deck de test">
<button type="submit"></button>
</form>

<%- include('partials/footer'); %>