<%- include('partials/header', {documentTitle:"Home - Tragic the gardening"}); %> 

<h1>Salut à toi <%=user.firstname%></h1>

<p>Veux tu démarrer une partie ?</p>

<a href="/game"><button>JOUER</button></a>

<%- include('partials/footer'); %>